APP_HOST='0.0.0.0'
APP_PORT=8000
APP_DEBUG=True
APP_TITLE='GridMind API'
APP_DESCRIPTION='An AI platform for the autonomous management of battery systems in Ukraine’s day-ahead market.'
APP_VERSION='0.0.1'
