# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env
.env.prod

# Ruff cache
.ruff_cache/

# UV lock file
uv.lock

# Distribution / packaging
build/
dist/
*.egg-info/
